.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
 
.footer4-max-width {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-content {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-logo2 {
  height: 2rem;
}
 
.footer4-credits {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  align-items: flex-start;
}
 
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer4-text2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .footer4-row {
    gap: 24px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: 24px;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 1px 1px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-tripleunit);
  animation-name: none;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-navlink {
  display: contents;
}
 
.home-image1 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
 
.home-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
 
.home-link3 {
  text-decoration: none;
}
 
.home-container11 {
  width: 20px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 30px;
  display: flex;
  opacity: 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link4 {
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon10 {
  width: 36px;
  height: 36px;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon12 {
  width: 24px;
  height: 24px;
}
 
.home-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-link7 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
 
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
 
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading2 {
  color: #040404;
  margin-bottom: var(--dl-space-space-tripleunit);
}
 
.home-text12 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
 
.home-image2 {
  width: 40%;
  object-fit: cover;
}
 
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
 
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
 
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
 
.home-content-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-about11 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
 
.home-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon14 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text18 {
  text-align: left;
}
 
.home-container16 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon16 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text19 {
  text-align: left;
}
 
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon18 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text20 {
  text-align: left;
}
 
.home-about12 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
 
.home-container18 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon20 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text21 {
  text-align: left;
}
 
.home-container19 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon22 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text25 {
  text-align: left;
}
 
.home-container20 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.home-icon24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
 
.home-text26 {
  text-align: left;
}
 
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
 
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
 
.home-text27 {
  width: 472px;
}
 
.home-logo-container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container21 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-container22 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container23 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-container24 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container25 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-container26 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container27 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-container28 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-logo-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container29 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo5 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container30 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo6 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo7 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-container32 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-container33 {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-logo8 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-faqs {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
 
.home-container34 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 25px;
  display: flex;
  opacity: 0;
  align-items: flex-start;
}
 
.home-content-container2 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-faq1 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.home-question-container1 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-question1 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.home-answer-container1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-answer1 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-faq2 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.home-question-container2 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-question2 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.home-answer-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-answer3 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-faq3 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.home-question-container3 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-question3 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.home-answer-container3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-answer5 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-image3 {
  width: 50%;
  object-fit: cover;
}
 
.home-container35 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
 
.home-heading-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
 
.home-input {
  width: 435px;
  height: 65px;
  border-color: #d9d9d9;
}
 
.home-spacer1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 10px;
  display: flex;
  opacity: 0;
  align-items: flex-start;
}
 
.home-textinput1 {
  width: 435px;
  height: 65px;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
 
.home-textinput2 {
  width: 435px;
  height: 165px;
  text-align: left;
  border-color: #d9d9d9;
}
 
.home-spacer2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 10px;
  display: flex;
  opacity: 0;
  align-items: flex-start;
}
 
.home-form {
  width: 200px;
  height: 100px;
  display: flex;
}
 
.home-button {
  color: var(--dl-color-gray-white);
  z-index: 100;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  animation-name: none;
  padding-bottom: var(--dl-space-space-doubleunit);
  animation-delay: 0s;
  background-color: var(--dl-color-gray-black);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-section-separator7 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .home-navbar {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-link1 {
    margin-right: 20px;
  }
  .home-container14 {
    width: 848px;
    margin-right: 0px;
  }
  .home-hero-text-container {
    width: 503px;
  }
  .home-heading2 {
    color: rgb(4, 4, 4);
  }
  .home-text16 {
    font-size: 18px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .home-clients {
    height: 456px;
  }
  .home-heading-container2 {
    width: 825px;
  }
  .home-text27 {
    width: 364px;
  }
  .home-text28 {
    text-align: center;
  }
  .home-logo-container1 {
    width: 1297px;
    height: 470px;
    margin-left: 0px;
  }
  .home-logo1 {
    height: 150px;
  }
  .home-text29 {
    text-align: center;
  }
  .home-text30 {
    text-align: center;
  }
  .home-logo3 {
    height: 150px;
  }
  .home-text31 {
    text-align: center;
  }
  .home-logo4 {
    height: 150px;
  }
  .home-text32 {
    text-align: center;
  }
  .home-logo-container2 {
    width: 1311px;
    height: 269px;
    margin-bottom: 0px;
  }
  .home-logo5 {
    height: 150px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .home-text33 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-logo8 {
    width: 100%;
    height: 150px;
  }
  .home-text35 {
    text-align: center;
  }
  .home-question1 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-textinput1 {
    margin-bottom: 10px;
  }
  .home-button {
    height: 55px;
  }
}
 
@media(max-width: 991px) {
  .home-heading1 {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading2 {
    text-align: center;
  }
  .home-text12 {
    text-align: center;
  }
  .home-image2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container1 {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-text17 {
    text-align: center;
  }
  .home-content-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about11 {
    width: 65%;
  }
  .home-about12 {
    width: 65%;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-content-container2 {
    width: 100%;
    flex-direction: column;
  }
  .home-faq1 {
    width: 100%;
  }
  .home-faq2 {
    width: 100%;
  }
  .home-faq3 {
    width: 100%;
  }
  .home-subscribe {
    flex-direction: column;
  }
  .home-image3 {
    width: 70%;
  }
  .home-container35 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-text37 {
    text-align: center;
  }
  .home-textinput1 {
    width: 100%;
  }
  .home-button {
    width: 70%;
  }
}
 
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-about11 {
    width: 100%;
  }
  .home-about12 {
    width: 100%;
  }
  .home-text27 {
    text-align: center;
  }
  .home-content-container2 {
    padding-left: 0px;
  }
  .home-image3 {
    width: 100%;
  }
  .home-container35 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-button {
    width: 100%;
  }
}
